openapi: 3.0.3
info:
    title: Infra Tokenization API
    description: >-
        This is a sample Infra Tokenization API Server based on the OpenAPI 3.0
        specification.
    version: 0.0.1
servers:
    - url: https://token.infrablockchain.io/api/v1
tags:
    - name: Token
      description: Token related API
    - name: Fungible Token
      description: Fungible Token related API
    - name: Non Fungible Token
      description: Non Fungible related API
    - name: Marketplace
      description: Marketplace related API
    - name: Others
      description: Others

paths:
    /tokens/stat/{contract}/{symbol}:
        get:
            tags:
                - Token
            summary: 토큰 세부 데이터 조회 API
            description: 특정 토큰에 세부 데이터를 조회합니다.
            parameters:
                - name: contract
                  in: path
                  description: Token Contract 계정명
                  required: true
                  schema:
                      type: string
                      example: infratoken
                - name: symbol
                  in: path
                  description: Token 심볼명
                  required: true
                  schema:
                      type: string
                      example: DUSD
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TokenStatResponse"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/TokenStatResponse"
            security:
                - api_key: []
    /tokens/holder/{contract}/{symbol}:
        get:
            tags:
                - Token
            summary: 토큰 소유자 목록 조회 API
            description: 특정 토큰에 대하여 소유자 목록을 조회합니다.
            parameters:
                - name: contract
                  in: path
                  description: Token Contract 계정명
                  required: true
                  schema:
                      type: string
                      example: infratoken
                - name: symbol
                  in: path
                  description: Token 심볼명
                  required: true
                  schema:
                      type: string
                      example: DUSD
                - name: offset
                  in: query
                  description: Offset
                  schema:
                      type: string
                      example: 0
                - name: limit
                  in: query
                  description: Limit
                  schema:
                      type: string
                      example: 10
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/TokenHolderResponse"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/TokenHolderResponse"
            security:
                - api_key: []
    /nft/asset/{contract}/{symbol}:
        get:
            tags:
                - Non Fungible Token
            summary: NFT 에셋 조회 API
            description: 특정 NFT 토큰에 대하여 에셋 목록을 조회합니다.
            parameters:
                - name: contract
                  in: path
                  description: Token Contract 계정명
                  required: true
                  schema:
                      type: string
                      example: infratoken
                - name: symbol
                  in: path
                  description: Token 심볼명
                  required: true
                  schema:
                      type: string
                      example: DUSD
                - name: owner
                  in: query
                  description: NFT 소유자
                  schema:
                      type: string
                      example: useraccount1
                - name: offset
                  in: query
                  description: Offset
                  schema:
                      type: string
                      example: 0
                - name: limit
                  in: query
                  description: Limit
                  schema:
                      type: string
                      example: 10
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/AssetListResponse"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/AssetListResponse"
            security:
                - api_key: []
    /nft/create:
        post:
            tags:
                - Non Fungible Token
            summary: NFT 토큰 생성 API
            description: InfraBlockchain의 NFT 토큰을 생성합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateTokenRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/CreateTokenRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /nft/mint:
        post:
            tags:
                - Non Fungible Token
            summary: NFT 토큰 발행 API
            description: InfraBlockchain의 NFT 토큰을 발행합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/MintRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/MintRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /nft/burn:
        post:
            tags:
                - Non Fungible Token
            summary: NFT 토큰 소각 API
            description: InfraBlockchain의 NFT 토큰을 소각합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NFTBurnRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/NFTBurnRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /nft/transfer:
        post:
            tags:
                - Non Fungible Token
            summary: NFT 토큰 전송 API
            description: InfraBlockchain의 NFT 토큰을 전송합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NFTTransferRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/NFTTransferRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /nft/approve:
        post:
            tags:
                - Non Fungible Token
            summary: NFT 토큰 권한 위임 API
            description: InfraBlockchain의 NFT 토큰중 하나의 에셋에 대해서 권한을 위임합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NFTApproveRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/NFTApproveRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /nft/approveall:
        post:
            tags:
                - Non Fungible Token
            summary: NFT 토큰 권한 전체 위임 API
            description: InfraBlockchain의 NFT 토큰중 하나의 심볼 전체에 대해 권한을 위임합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NFTApproveallRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/NFTApproveallRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /nft/rmapprove:
        post:
            tags:
                - Non Fungible Token
            summary: NFT 토큰 권한 위임 해제 API
            description: InfraBlockchain의 NFT 토큰 권한을 위임한 것을 해제합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NFTRmapproveRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/NFTRmapproveRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /nft/rmapproveall:
        post:
            tags:
                - Non Fungible Token
            summary: NFT 토큰 권한 전체 위임 해제 API
            description: InfraBlockchain의 NFT 토큰 전체에 대해 권한을 위임한 것을 해제합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/NFTRmapproveallRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/NFTRmapproveallRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []

    /ft/create:
        post:
            tags:
                - Fungible Token
            summary: FT 토큰 생성 API
            description: InfraBlockchain의 FT 토큰을 생성합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateTokenRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/CreateTokenRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /ft/issue:
        post:
            tags:
                - Fungible Token
            summary: FT 토큰 발행 API
            description: InfraBlockchain의 FT 토큰을 발행합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/IssueRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/IssueRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /ft/burn:
        post:
            tags:
                - Fungible Token
            summary: FT 토큰 소각 API
            description: InfraBlockchain의 FT 토큰을 소각합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/FTBurnRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/FTBurnRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /ft/transfer:
        post:
            tags:
                - Fungible Token
            summary: FT 토큰 전송 API
            description: InfraBlockchain의 FT 토큰을 전송합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/FTTransferRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/FTTransferRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /ft/approve:
        post:
            tags:
                - Fungible Token
            summary: FT 토큰 권한 위임 API
            description: InfraBlockchain의 FT 토큰의 권한을 위임합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/FTApproveRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/FTApproveRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /ft/rmapprove:
        post:
            tags:
                - Fungible Token
            summary: FT 토큰 권한 위임 해제 API
            description: InfraBlockchain의 FT 토큰의 권한을 위임을 해제합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/FTRmapproveRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/FTRmapproveRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /marketplaces/auctions/{marketContract}/{nftContract}/{nftSymbol}:
        get:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 경매 조회 API
            description: 현재 등록되어있는 경매 목록을 조회합니다.
            parameters:
                - name: marketContract
                  in: path
                  description: Marketplace Contract 계정명
                  required: true
                  schema:
                      type: string
                      example: inframarket
                - name: nftContract
                  in: path
                  description: NFT Contract 계정명
                  required: true
                  schema:
                      type: string
                      example: infraNFT
                - name: nftSymbol
                  in: path
                  description: NFT 심볼명
                  required: true
                  schema:
                      type: string
                      example: INFRA
                - name: offset
                  in: query
                  description: Offset
                  schema:
                      type: string
                      example: 0
                - name: limit
                  in: query
                  description: Limit
                  schema:
                      type: string
                      example: 10
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/AuctionListResponse"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/AuctionListResponse"
            security:
                - api_key: []
    /marketplaces/sales/{marketContract}/{nftContract}/{nftSymbol}:
        get:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 즉시구매 판매 조회 API
            description: 현재 등록되어있는 즉시구매 판매 목록을 조회합니다.
            parameters:
                - name: marketContract
                  in: path
                  description: Marketplace Contract 계정명
                  required: true
                  schema:
                      type: string
                      example: inframarket
                - name: nftContract
                  in: path
                  description: NFT Contract 계정명
                  required: true
                  schema:
                      type: string
                      example: infraNFT
                - name: nftSymbol
                  in: path
                  description: NFT 심볼명
                  required: true
                  schema:
                      type: string
                      example: INFRA
                - name: offset
                  in: query
                  description: Offset
                  schema:
                      type: string
                      example: 0
                - name: limit
                  in: query
                  description: Limit
                  schema:
                      type: string
                      example: 10
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SaleListResponse"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/SaleListResponse"
            security:
                - api_key: []
    /marketplaces/auction:
        post:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 경매 방식 판매 등록 API
            description: InfraBlockchain의 NFT 마켓플레이스에 경매 방식의 판매를 등록합니다. 해당 API를 실행하기 전 판매하려는 NFT에 대해서 마켓 컨트랙트 계정에게 권한을 위임해야 합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ListingAuctionRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/ListingAuctionRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /marketplaces/rmauction:
        post:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 경매 방식 판매제거 API
            description: InfraBlockchain의 NFT 마켓플레이스에 등록되어있는 경매 방식의 판매를 제거합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/MarketplaceRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/MarketplaceRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /marketplaces/cfauction:
        post:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 경매 방식 판매 확정 API
            description: InfraBlockchain의 NFT 마켓플레이스에 등록되어있는 경매 방식의 판매에 대해서 시간이 종료되었을때 최고 입찰자의 구매를 승인합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/MarketplaceRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/MarketplaceRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /marketplaces/sell:
        post:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 즉시구매 방식 판매 등록 API
            description: InfraBlockchain의 NFT 마켓플레이스에 즉시구매 방식의 판매를 등록합니다. 해당 API를 실행하기 전 판매하려는 NFT에 대해서 마켓 컨트랙트 계정에게 권한을 위임해야 합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ListingSaleRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/ListingSaleRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /marketplaces/rmsell:
        post:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 즉시구매 방식 판매 제거 API
            description: InfraBlockchain의 NFT 마켓플레이스에 등록되어있는 즉시구매 방식의 판매를 제거합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/MarketplaceRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/MarketplaceRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /marketplaces/cfselloffer:
        post:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 즉시구매 방식 판매 제안 승인 API
            description: InfraBlockchain의 NFT 마켓플레이스에 등록되어있는 즉시구매 방식의 판매에 대해서 특정 제안자의 구매 제안을 승인합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CfsellofferRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/CfsellofferRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /marketplaces/rmoffer:
        post:
            tags:
                - Marketplace
            summary: NFT 마켓플레이스 즉시구매 방식 판매 제안 삭제 API
            description: InfraBlockchain의 NFT 마켓플레이스에 등록되어있는 즉시구매 방식의 판매에 대해서 제안한 제안을 삭제합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/RmofferRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/RmofferRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /accounts/balance/{contract}/{symbol}:
        get:
            tags:
                - Others
            summary: 토큰 잔액 조회 API
            description: 토큰 잔액을 조회합니다.
            parameters:
                - name: contract
                  in: path
                  description: Token Contract 계정명
                  required: true
                  schema:
                      type: string
                      example: infratoken
                - name: symbol
                  in: path
                  description: Token 심볼명
                  required: true
                  schema:
                      type: string
                      example: DUSD
                - name: account
                  in: query
                  description: 조회할 계정
                  required: true
                  schema:
                      type: string
                      example: useraccount1
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    balance:
                                        type: string
                                        example: 1.0000 DUSD
                        application/xml:
                            schema:
                                type: object
                                properties:
                                    balance:
                                        type: string
                                        example: 1.0000 DUSD
            security:
                - api_key: []
    /accounts/freeze:
        post:
            tags:
                - Others
            summary: 계정 잠금 API
            description: InfraBlockchain의 특정 심볼에 대해 토큰 거래가 불가능 하도록 계정을 잠급니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/FreezeRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/FreezeRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []
    /accounts/unfreeze:
        post:
            tags:
                - Others
            summary: 계정 잠금 해제 API
            description: InfraBlockchain의 잠겨진 계정을 잠금 해제합니다.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/FreezeRequest"
                    application/xml:
                        schema:
                            $ref: "#/components/schemas/FreezeRequest"
                required: true
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Transaction"
                        application/xml:
                            schema:
                                $ref: "#/components/schemas/Transaction"
            security:
                - api_key: []

components:
    schemas:
        CreateTokenRequest:
            type: object
            required:
                - contract
                - issuer
                - maximumSupply
            properties:
                contract:
                    type: string
                    description: NFT Token Contract의 계정명
                    example: infratoken
                issuer:
                    type: string
                    description: NFT Token 발행자
                    example: tokenissuer.a
                maximumSupply:
                    type: string
                    description: 최대로 발행할 수 있는 토큰 수량 및 심볼명
                    example: 1000000000 INFRA
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        MintRequest:
            type: object
            required:
                - contract
                - symbol
                - author
                - idata
                - mdata
                - owner
            properties:
                contract:
                    type: string
                    description: NFT Token Contract의 계정명
                    example: infranft
                symbol:
                    type: string
                    description: NFT Token을 발행하려는 토큰의 심볼명
                    example: INFRA
                author:
                    type: string
                    description: NFT화 하려는 컨텐츠의 생산자
                    example: serviceowner1
                idata:
                    type: object
                    description: NFT의 Immutable Data
                    properties:
                        img:
                            type: string
                            example: "https://i.imgur.com/PwGN32k.mp4"
                        title:
                            type: string
                            example: "Fun Image"
                        description:
                            type: string
                            example: "By using small amounts of throttle, the driver is being gentle on his vehicle"
                mdata:
                    type: string
                    description: NFT의 Mutable Data, 원하는 양식대로 넣을 수 있습니다.
                    example: { like: 99, dislike: 1 }
                owner:
                    type: string
                    description: 발행한 NFT를 수령할 대상
                    example: useraccount1
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        IssueRequest:
            type: object
            required:
                - contract
                - to
                - quantity
                - memo
            properties:
                contract:
                    type: string
                    description: FT Token Contract의 계정명
                    example: infratoken
                to:
                    type: string
                    description: FT Token 발행 시 수령인
                    example: useraccount1
                quantity:
                    type: string
                    description: FT Token 발행 수량
                    example: 10.0000 DUSD
                memo:
                    type: string
                    description: 메모
                    example: This is For Gift
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        NFTBurnRequest:
            type: object
            required:
                - contract
                - owner
                - symbol
                - tokenId
            properties:
                contract:
                    type: string
                    description: NFT Token Contract의 계정명
                    example: infranft
                owner:
                    type: string
                    description: 소각하려는 NFT의 소유자
                    example: serviceowner1
                symbol:
                    type: string
                    description: NFT Token을 소각하려는 토큰의 심볼명
                    example: INFRA
                tokenId:
                    type: string
                    description: NFT Token 아이디
                    example: 1
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        FTBurnRequest:
            type: object
            required:
                - contract
                - owner
                - quantity
                - memo
            properties:
                contract:
                    type: string
                    description: FT Token Contract의 계정명
                    example: infranft
                owner:
                    type: string
                    description: 소각하려는 FT의 소유자
                    example: serviceowner1
                quantity:
                    type: string
                    description: FT Token을 소각하려는 수량
                    example: 10.0000 DUSD
                memo:
                    type: string
                    description: 메모
                    example: "This is memo"
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        NFTTransferRequest:
            type: object
            required:
                - contract
                - from
                - to
                - symbol
                - tokenId
                - memo
            properties:
                contract:
                    type: string
                    description: NFT Token Contract의 계정명
                    example: infranft
                from:
                    type: string
                    description: NFT 전송자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                to:
                    type: string
                    description: NFT 수신자
                    example: useraccount2
                symbol:
                    type: string
                    description: NFT Token을 전송하려는 토큰의 심볼명
                    example: INFRA
                tokenId:
                    type: string
                    description: NFT Token 아이디
                    example: 1
                memo:
                    type: string
                    description: 메모
                    example: "This is memo"
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        FTTransferRequest:
            type: object
            required:
                - contract
                - from
                - to
                - quantity
                - memo
            properties:
                contract:
                    type: string
                    description: FT Token Contract의 계정명
                    example: infranft
                from:
                    type: string
                    description: FT 전송자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                to:
                    type: string
                    description: FT 수신자
                    example: useraccount2
                quantity:
                    type: string
                    description: FT Token 전송 수량
                    example: 10.0000 DUSD
                memo:
                    type: string
                    description: 메모
                    example: "This is memo"
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        FTApproveRequest:
            type: object
            required:
                - contract
                - owner
                - balance
                - proxy
            properties:
                contract:
                    type: string
                    description: FT Token Contract의 계정명
                    example: infranft
                owner:
                    type: string
                    description: FT 보유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                balance:
                    type: string
                    description: 권한을 위임할 FT 수량
                    example: 2100000000.0000 DUSD
                proxy:
                    type: string
                    description: 권한을 위임해줄 계정명
                    example: yourproxy
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        FTRmapproveRequest:
            type: object
            required:
                - contract
                - owner
                - symbol
            properties:
                contract:
                    type: string
                    description: FT Token Contract의 계정명
                    example: infranft
                owner:
                    type: string
                    description: FT 보유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                symbol:
                    type: string
                    description: 권한 위임을 취소할 토큰의 심볼명
                    example: DUSD
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        NFTApproveRequest:
            type: object
            required:
                - contract
                - owner
                - symbol
                - tokenId
                - proxy
            properties:
                contract:
                    type: string
                    description: NFT Token Contract의 계정명
                    example: infranft
                owner:
                    type: string
                    description: NFT 보유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                symbol:
                    type: string
                    description: 권한 위임하려는 NFT Token을 토큰의 심볼명
                    example: INFRA
                tokenId:
                    type: string
                    description: NFT Token 아이디
                    example: 1
                proxy:
                    type: string
                    description: 권한을 위임해줄 계정명
                    example: yourproxy
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        NFTApproveallRequest:
            type: object
            required:
                - contract
                - owner
                - symbol
                - proxy
            properties:
                contract:
                    type: string
                    description: NFT Token Contract의 계정명
                    example: infranft
                owner:
                    type: string
                    description: NFT 보유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                symbol:
                    type: string
                    description: 권한 위임하려는 NFT Token을 토큰의 심볼명
                    example: INFRA
                proxy:
                    type: string
                    description: 권한을 위임해줄 계정명
                    example: yourproxy
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        NFTRmapproveRequest:
            type: object
            required:
                - contract
                - owner
                - symbol
                - tokenId
                - proxy
            properties:
                contract:
                    type: string
                    description: NFT Token Contract의 계정명
                    example: infranft
                owner:
                    type: string
                    description: NFT 보유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                symbol:
                    type: string
                    description: NFT Token의 권한 위임을 취소하려는 토큰의 심볼명
                    example: INFRA
                tokenId:
                    type: string
                    description: NFT Token 아이디
                    example: 1
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        NFTRmapproveallRequest:
            type: object
            required:
                - contract
                - owner
                - symbol
                - proxy
            properties:
                contract:
                    type: string
                    description: NFT Token Contract의 계정명
                    example: infranft
                owner:
                    type: string
                    description: NFT 보유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                symbol:
                    type: string
                    description: NFT Token의 권한 위임을 취소하려는 토큰의 심볼명
                    example: INFRA
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        FreezeRequest:
            type: object
            required:
                - contract
                - account
                - symbol
            properties:
                contract:
                    type: string
                    description: Token Contract의 계정명
                    example: infratokrn
                account:
                    type: string
                    description: 토큰 관련 액션을 잠그거나 잠금을 해제할 계정
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                symbol:
                    type: string
                    description: 잠그거나 잠금을 해제할 토큰의 심볼명
                    example: INFRA
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        ListingAuctionRequest:
            type: object
            required:
                - contract
                - owner
                - nft
                - price
                - startTime
                - endTime
            properties:
                contract:
                    type: string
                    description: Marketplace Contract의 계정명
                    example: inframarket
                owner:
                    type: string
                    description: 판매하고자 하는 NFT의 소유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                nft:
                    type: object
                    description: 판매하고자 하는 NFT를 특정할 수 있는 정보
                    $ref: "#/components/schemas/NFTAsset"
                price:
                    type: object
                    description: 경매 시작가
                    $ref: "#/components/schemas/ExtendedAsset"
                startTime:
                    type: number
                    description: 경매 시작시간 (Epochtime)
                    example: 1671079109
                endTime:
                    type: number
                    description: 경매 마감시간 (Epochtime)
                    example: 1672079109
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        MarketplaceRequest:
            type: object
            required:
                - contract
                - owner
                - nft
            properties:
                contract:
                    type: string
                    description: Marketplace Contract의 계정명
                    example: inframarket
                owner:
                    type: string
                    description: 판매 등록 되어있는 NFT의 소유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                nft:
                    type: object
                    description: 판매하고자 하는 NFT를 특정할 수 있는 정보
                    $ref: "#/components/schemas/NFTAsset"
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        ListingSaleRequest:
            type: object
            required:
                - contract
                - owner
                - nft
                - price
            properties:
                contract:
                    type: string
                    description: Marketplace Contract의 계정명
                    example: inframarket
                owner:
                    type: string
                    description: 판매하고자 하는 NFT의 소유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                nft:
                    type: object
                    description: 판매하고자 하는 NFT를 특정할 수 있는 정보
                    $ref: "#/components/schemas/NFTAsset"
                price:
                    type: object
                    description: 판매 가격
                    $ref: "#/components/schemas/ExtendedAsset"
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        CfsellofferRequest:
            type: object
            required:
                - contract
                - owner
                - nft
                - offerer
            properties:
                contract:
                    type: string
                    description: Marketplace Contract의 계정명
                    example: inframarket
                owner:
                    type: string
                    description: 판매 등록 되어있는 NFT의 소유자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                nft:
                    type: object
                    description: 판매하고자 하는 NFT를 특정할 수 있는 정보
                    $ref: "#/components/schemas/NFTAsset"
                offerer:
                    type: string
                    description: 구매를 제안한 제안자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        RmofferRequest:
            type: object
            required:
                - contract
                - offerer
                - nft
            properties:
                contract:
                    type: string
                    description: Marketplace Contract의 계정명
                    example: inframarket
                offerer:
                    type: string
                    description: 구매를 제안한 제안자
                    example: PUB_K1_7W8GBc5sjBoMEdjwT8YvWCrpME5NXkxasLCNz4XVv4F1Fyqsxp
                nft:
                    type: object
                    description: 판매하고자 하는 NFT를 특정할 수 있는 정보
                    $ref: "#/components/schemas/NFTAsset"
                signature:
                    type: string
                    description: Parameter 검증을 위한 서명값
                    example: SIG_K1_K5NanAnaRtu5bGQZnqPFminQh2vqbb9V9xV5Eta6wRjgTkVj5M4FW2brPAyRCJY4S6vaegvTFA2kNANbgdH2KYwxAVWhjo
                txFeePayer:
                    type: string
                    description: InfraBlockchain 트랜잭션 수수료 납부자
                    example: infranft
                txVote:
                    type: string
                    description: InfraBlockchain PoT 투표 대상
                    example: infranft
        NFTAsset:
            type: object
            required:
                - contract
                - symbol
                - tokenId
            properties:
                contract:
                    type: string
                    description: NFT Contract의 계정명
                    example: infranft
                symbol:
                    type: string
                    description: NFT의 심볼명
                    example: INFRA
                tokenId:
                    type: string
                    description: NFT의 토큰 아이디
                    example: 1
        ExtendedAsset:
            type: object
            required:
                - contract
                - asset
            properties:
                contract:
                    type: string
                    description: Token Contract의 계정명
                    example: infratoken
                asset:
                    type: string
                    description: Token의 수량
                    example: 10.0000 DUSD
        ExtendedSymbol:
            type: object
            required:
                - contract
                - asset
            properties:
                sym:
                    type: string
                    description: Token의 심볼명
                    example: 0,DUSD
                contract:
                    type: string
                    description: Token Contract의 계정명
                    example: infratoken

        Transaction:
            type: object
            properties:
                transaction_id:
                    type: string
                    example: "5507088ecfc0d06a07955080b81d892280acc29791f0a423971e47ced78d8241"
                processed:
                    type: object
                    properties:
                        id:
                            type: string
                            example: "5507088ecfc0d06a07955080b81d892280acc29791f0a423971e47ced78d8241"
                        block_num:
                            type: number
                            example: 131097
                        block_time:
                            type: string
                            example: "2022-11-29T01:41:54.500"
                        producer_block_id:
                            type: string
                            example: null
                        receipt:
                            type: object
                            properties:
                                status:
                                    type: string
                                    example: "executed"
                                cpu_usage_us:
                                    type: number
                                    example: 254
                                net_usage_words:
                                    type: number
                                    example: 16
                        elapsed:
                            type: number
                            example: 254
                        net_usage:
                            type: number
                            example: 128
                        scheduled:
                            type: boolean
                            example: false
                        action_traces:
                            type: array
                            items:
                                type: object
                                example:
                            example: []
                        account_ram_delta:
                            type: string
                            example: null
                        except:
                            type: string
                            example: null
                        error_code:
                            type: string
                            example: null
        TokenHolderResponse:
            type: object
            required:
                - result
            properties:
                result:
                    type: array
                    description: 결과 리스트
                    items:
                        properties:
                            account:
                                type: string
                                example: useraccount1
                            balance:
                                type: string
                                example: 10.0000 DUSD
        TokenStatResponse:
            type: object
            required:
                - issuer
                - totalSupply
                - maximumSupply
            properties:
                issuer:
                    type: string
                    example: systoken.a
                totalSupply:
                    type: string
                    example: 1000000000.0000 DUSD
                maximumSupply:
                    type: string
                    example: 2000000000.0000 DUSD

        AssetListResponse:
            type: object
            required:
                - result
            properties:
                result:
                    type: array
                    description: 결과 리스트
                    items:
                        properties:
                            tokenId:
                                type: string
                                example: 1
                            assetId:
                                type: string
                                example: 24852215245270823257042321409
                            owner:
                                type: string
                                example: EOS6MRyAjQq8ud7hVNYcfnVPJqcVpscN5So8BhtHuGYqET5GDW5CV
                            author:
                                type: string
                                example: infranft
                            proxy:
                                type: string
                                example: infranft
                            idata:
                                type: object
                                description: NFT의 Immutable Data
                                properties:
                                    img:
                                        type: string
                                        example: "https://i.imgur.com/PwGN32k.mp4"
                                    title:
                                        type: string
                                        example: "Fun Image"
                                    description:
                                        type: string
                                        example: "By using small amounts of throttle, the driver is being gentle on his vehicle"
                            mdata:
                                type: string
                                description: NFT의 Mutable Data, 원하는 양식대로 넣을 수 있습니다.
                                example: { like: 99, dislike: 1 }
        AuctionListResponse:
            type: object
            required:
                - result
            properties:
                result:
                    type: array
                    description: 결과 리스트
                    items:
                        properties:
                            id:
                                type: string
                                example: 1
                            tokenId:
                                type: string
                                example: 10
                            assetId:
                                type: string
                                example: 24852215245270823257042321409
                            ext_sym:
                                type: object
                                $ref: "#/components/schemas/ExtendedSymbol"
                            owner:
                                type: string
                                example: useraccount1
                            high_bidder:
                                type: string
                                example: useraccount2
                            high_bid_info:
                                type: object
                                $ref: "#/components/schemas/ExtendedAsset"
                            started_at:
                                type: number
                                example: 1671079109
                            ended_at:
                                type: number
                                example: 1672079109
                            image:
                                type: string
                                example: https://i.imgur.com/wev4CSz.png
        SaleListResponse:
            type: object
            required:
                - result
            properties:
                result:
                    type: array
                    description: 결과 리스트
                    items:
                        properties:
                            id:
                                type: string
                                example: 1
                            tokenId:
                                type: string
                                example: 10
                            assetId:
                                type: string
                                example: 24852215245270823257042321409
                            ext_sym:
                                type: object
                                $ref: "#/components/schemas/ExtendedSymbol"
                            owner:
                                type: string
                                example: useraccount1
                            price:
                                type: object
                                $ref: "#/components/schemas/ExtendedAsset"
                            offer_info:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        first:
                                            type: object
                                            $ref: "#/components/schemas/ExtendedAsset"
                                        second:
                                            type: string
                                            example: "offeraccount1"
                            image:
                                type: string
                                example: https://i.imgur.com/wev4CSz.png

    securitySchemes:
        api_key:
            type: apiKey
            name: x-console-auth-token
            in: header
